body {
  padding-top: 50px;
}

.full-image {
  background-color: #fff !important;
  margin-bottom: 20px;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.editable-click {
  border: 0;
}

.panel-default > .panel-heading {
  color: #666;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  margin-top: 20px;
}

.table-extra-tr {
  border-top: 0 !important;
}

.homepage, .jumbotron {
  background-color: #fff;
}

.homepage-anlage {
  padding-bottom: 40px;
}

.stats {
  margin-top: 40px;
}

.stats .stats-heading {
  color: #666;
  font-size: 14px;
  text-transform: uppercase;
}

.stats .panel {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.footer {
  /*background-color: #333;
  color: #fff;*/
  padding-top: 20px;
  padding-bottom: 20px;
  /*position: fixed;
  bottom: 0;*/
}
